# Customer Lifetime Value Prediction with BG-NBD and Gamma-Gamma

# 1. Understanding & Preparing Data

In [1]:
!pip install lifetimes
import datetime as dt
import pandas as pd
import matplotlib.pyplot as plt
from lifetimes import BetaGeoFitter
from lifetimes import GammaGammaFitter
pd.set_option('display.max_columns', None)
pd.set_option('display.width', 500)
pd.set_option('display.float_format', lambda x: '%.4f' % x)
import warnings
warnings.filterwarnings("ignore")

Collecting lifetimes
  Downloading Lifetimes-0.11.3-py3-none-any.whl (584 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 584.2/584.2 kB 13.0 MB/s eta 0:00:0000:01
Requirement already satisfied: numpy>=1.10.0 in /opt/conda/lib/python3.10/site-packages (from lifetimes) (1.23.5)
Requirement already satisfied: scipy>=1.0.0 in /opt/conda/lib/python3.10/site-packages (from lifetimes) (1.11.1)
Requirement already satisfied: pandas>=0.24.0 in /opt/conda/lib/python3.10/site-packages (from lifetimes) (1.5.3)
Collecting autograd>=1.2.0 (from lifetimes)
  Downloading autograd-1.6.2-py3-none-any.whl (49 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 49.3/49.3 kB 3.5 MB/s eta 0:00:00
Requirement already satisfied: dill>=0.2.6 in /opt/conda/lib/python3.10/site-packages (from lifetimes) (0.3.6)
Requirement already satisfied: future>=0.15.2 in /opt/conda/lib/python3.10/site-packages (from autograd>=1.2.0->lifetimes) (0.18.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/conda/lib/python3.10/site-packages (from pandas>=0.24.0->lifetimes) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.10/site-packages (from pandas>=0.24.0->lifetimes) (2023.3)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas>=0.24.0->lifetimes) (1.16.0)
Installing collected packages: autograd, lifetimes
Successfully installed autograd-1.6.2 lifetimes-0.11.3

/opt/conda/lib/python3.10/site-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.5
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [2]:
df_ = pd.read_csv("/kaggle/input/flo-customer-data/flo_data_20k.csv")
df = df_.copy()
df.head()

                              master_id order_channel last_order_channel first_order_date last_order_date last_order_date_online last_order_date_offline  order_num_total_ever_online  order_num_total_ever_offline  customer_value_total_ever_offline  customer_value_total_ever_online       interested_in_categories_12
0  cc294636-19f0-11eb-8d74-000d3a38a36f   Android App            Offline       2020-10-30      2021-02-26             2021-02-21              2021-02-26                       4.0000                        1.0000                           139.9900                          799.3800                           [KADIN]
1  f431bd5a-ab7b-11e9-a2fc-000d3a38a36f   Android App             Mobile       2017-02-08      2021-02-16             2021-02-16              2020-01-10                      19.0000                        2.0000                           159.9700                         1853.5800  [ERKEK, COCUK, KADIN, AKTIFSPOR]
2  69b69676-1a40-11ea-941b-000d3a38a36f   Android App        Android App       2019-11-27      2020-11-27             2020-11-27              2019-12-01                       3.0000                        2.0000                           189.9700                          395.3500                    [ERKEK, KADIN]
3  1854e56c-491f-11eb-806e-000d3a38a36f   Android App        Android App       2021-01-06      2021-01-17             2021-01-17              2021-01-06                       1.0000                        1.0000                            39.9900                           81.9800               [AKTIFCOCUK, COCUK]
4  d6ea1074-f1f5-11e9-9346-000d3a38a36f       Desktop            Desktop       2019-08-03      2021-03-07             2021-03-07              2019-08-03                       1.0000                        1.0000                            49.9900                          159.9900                       [AKTIFSPOR]

In [3]:
df.dtypes

master_id                             object
order_channel                         object
last_order_channel                    object
first_order_date                      object
last_order_date                       object
last_order_date_online                object
last_order_date_offline               object
order_num_total_ever_online          float64
order_num_total_ever_offline         float64
customer_value_total_ever_offline    float64
customer_value_total_ever_online     float64
interested_in_categories_12           object
dtype: object

In [4]:
df.describe().T

                                       count     mean      std     min      25%      50%      75%        max
order_num_total_ever_online       19945.0000   3.1109   4.2256  1.0000   1.0000   2.0000   4.0000   200.0000
order_num_total_ever_offline      19945.0000   1.9139   2.0629  1.0000   1.0000   1.0000   2.0000   109.0000
customer_value_total_ever_offline 19945.0000 253.9226 301.5329 10.0000  99.9900 179.9800 319.9700 18119.1400
customer_value_total_ever_online  19945.0000 497.3217 832.6019 12.9900 149.9800 286.4600 578.4400 45220.1300

In [5]:
df["order_channel"].value_counts()

Android App    9495
Mobile         4882
Ios App        2833
Desktop        2735
Name: order_channel, dtype: int64

In [6]:
df.isnull().sum()

master_id                            0
order_channel                        0
last_order_channel                   0
first_order_date                     0
last_order_date                      0
last_order_date_online               0
last_order_date_offline              0
order_num_total_ever_online          0
order_num_total_ever_offline         0
customer_value_total_ever_offline    0
customer_value_total_ever_online     0
interested_in_categories_12          0
dtype: int64

## Preprocessing Data

In [7]:
# Define threshold functions for outliers
def outlier_thresholds(dataframe, variable):
    quartile1 = dataframe[variable].quantile(0.01)
    quartile2 = dataframe[variable].quantile(0.99)
    interquantile_range = quartile2 - quartile1
    up_limit = quartile2 + interquantile_range * 1.5
    low_limit = quartile1 - interquantile_range * 1.5

    return low_limit, up_limit


def replace_with_thresholds(dataframe, variable):
    low_limit, up_limit = outlier_thresholds(dataframe, variable)
    dataframe.loc[(dataframe[variable] < low_limit), variable] = round(low_limit)
    dataframe.loc[(dataframe[variable] > up_limit), variable] = round(up_limit)

In [8]:
#Suppressing outliers
columns = ["order_num_total_ever_online", "order_num_total_ever_offline", "customer_value_total_ever_offline","customer_value_total_ever_online"]
for col in columns:
    replace_with_thresholds(df, col)

In [9]:
df.describe().T

                                       count     mean      std     min      25%      50%      75%       max
order_num_total_ever_online       19945.0000   3.0920   3.8095  1.0000   1.0000   2.0000   4.0000   48.0000
order_num_total_ever_offline      19945.0000   1.8862   1.4347  1.0000   1.0000   1.0000   2.0000   16.0000
customer_value_total_ever_offline 19945.0000 251.9213 251.0237 10.0000  99.9900 179.9800 319.9700 3020.0000
customer_value_total_ever_online  19945.0000 489.7057 632.6098 12.9900 149.9800 286.4600 578.4400 7800.0000

In [10]:
#Creating total order number and total customer value variables
df["total_order_num"] = df["order_num_total_ever_online"] + df["order_num_total_ever_offline"]
df["total_customer_value"] = df["customer_value_total_ever_offline"] + df["customer_value_total_ever_online"]
df[["total_order_num", "total_customer_value"]].head()

   total_order_num  total_customer_value
0           5.0000              939.3700
1          21.0000             2013.5500
2           5.0000              585.3200
3           2.0000              121.9700
4           2.0000              209.9800

In [11]:
# Convert date variables(object) to date type
date_columns = df.columns[df.columns.str.contains("date")]
df[date_columns] = df[date_columns].apply(pd.to_datetime)

# 2. Creating CLTV DataFrame

In [12]:
df["last_order_date"].max()
today_date = dt.datetime(2021, 6, 1) # we analyse as if we are in 2021 because 2021 is current for data set

cltv_df = pd.DataFrame()
cltv_df["customer_id"] = df["master_id"]
cltv_df["recency_cltv_weekly"] = (df["last_order_date"] - df["first_order_date"]).astype("timedelta64[D]") / 7
cltv_df["T_weekly"] = (today_date - df["first_order_date"]).astype("timedelta64[D]") / 7
cltv_df["frequency"] = df["total_order_num"]
cltv_df["monetary_cltv_avg"] = df["total_customer_value"] / df["total_order_num"]
cltv_df["frequency"] = cltv_df["frequency"].astype(int)

cltv_df.head()

                            customer_id  recency_cltv_weekly  T_weekly  frequency  monetary_cltv_avg
0  cc294636-19f0-11eb-8d74-000d3a38a36f              17.0000   30.5714          5           187.8740
1  f431bd5a-ab7b-11e9-a2fc-000d3a38a36f             209.8571  224.8571         21            95.8833
2  69b69676-1a40-11ea-941b-000d3a38a36f              52.2857   78.8571          5           117.0640
3  1854e56c-491f-11eb-806e-000d3a38a36f               1.5714   20.8571          2            60.9850
4  d6ea1074-f1f5-11e9-9346-000d3a38a36f              83.1429   95.4286          2           104.9900

# 3. Creating BG-NBD Model

In [13]:
bgf = BetaGeoFitter(penalizer_coef=0.001)

bgf.fit(cltv_df["frequency"],
        cltv_df["recency_cltv_weekly"],
        cltv_df["T_weekly"])

In [14]:
# Expected transaction in 3 months
cltv_df["exp_sales_3_month"] = bgf.conditional_expected_number_of_purchases_up_to_time(12, # months * week
                                                        cltv_df["frequency"],
                                                        cltv_df["recency_cltv_weekly"],
                                                        cltv_df["T_weekly"])
# Expected transaction in 6 months
cltv_df["exp_sales_6_month"] = bgf.conditional_expected_number_of_purchases_up_to_time(24,
                                                        cltv_df["frequency"],
                                                        cltv_df["recency_cltv_weekly"],
                                                        cltv_df["T_weekly"])

cltv_df.head()

                            customer_id  recency_cltv_weekly  T_weekly  frequency  monetary_cltv_avg  exp_sales_3_month  exp_sales_6_month
0  cc294636-19f0-11eb-8d74-000d3a38a36f              17.0000   30.5714          5           187.8740             0.9739             1.9479
1  f431bd5a-ab7b-11e9-a2fc-000d3a38a36f             209.8571  224.8571         21            95.8833             0.9832             1.9663
2  69b69676-1a40-11ea-941b-000d3a38a36f              52.2857   78.8571          5           117.0640             0.6706             1.3412
3  1854e56c-491f-11eb-806e-000d3a38a36f               1.5714   20.8571          2            60.9850             0.7004             1.4008
4  d6ea1074-f1f5-11e9-9346-000d3a38a36f              83.1429   95.4286          2           104.9900             0.3960             0.7921

In [15]:
# 10 people who will make the most purchases in the 3rd and 6th months.
cltv_df["exp_sales_3_month"].sort_values(ascending=False).head(10)
cltv_df["exp_sales_6_month"].sort_values(ascending=False).head(10)

7330    9.3123
15611   6.7479
8328    6.2848
19538   6.1676
14373   6.0026
10489   5.9561
4315    5.6598
6756    5.5869
6666    5.5614
10536   5.5270
Name: exp_sales_6_month, dtype: float64

# 4. Creating Gamma Gamma Model

In [16]:
ggf = GammaGammaFitter(penalizer_coef=0.01)

ggf.fit(cltv_df["frequency"],
        cltv_df["monetary_cltv_avg"])

In [17]:
# Expected average value for each customers
cltv_df["exp_average_value"] = ggf.conditional_expected_average_profit(cltv_df["frequency"],
                                                                       cltv_df["monetary_cltv_avg"])
cltv_df["exp_average_value"]

0       193.6327
1        96.6650
2       120.9676
3        67.3201
4       114.3251
          ...
19940   141.3604
19941   210.7224
19942   221.7752
19943   172.6475
19944   142.0923
Name: exp_average_value, Length: 19945, dtype: float64

# 5. Predicting CLTV for 6 months

In [18]:
cltv_df["cltv"] = ggf.customer_lifetime_value(bgf,
                                              cltv_df["frequency"],
                                              cltv_df["recency_cltv_weekly"],
                                              cltv_df["T_weekly"],
                                              cltv_df["monetary_cltv_avg"],
                                              time=6, # months
                                              freq="W", # week
                                              discount_rate=0.01)

cltv_df

                                customer_id  recency_cltv_weekly  T_weekly  frequency  monetary_cltv_avg  exp_sales_3_month  exp_sales_6_month  exp_average_value     cltv
0      cc294636-19f0-11eb-8d74-000d3a38a36f              17.0000   30.5714          5           187.8740             0.9739             1.9479           193.6327 395.7332
1      f431bd5a-ab7b-11e9-a2fc-000d3a38a36f             209.8571  224.8571         21            95.8833             0.9832             1.9663            96.6650 199.4307
2      69b69676-1a40-11ea-941b-000d3a38a36f              52.2857   78.8571          5           117.0640             0.6706             1.3412           120.9676 170.2242
3      1854e56c-491f-11eb-806e-000d3a38a36f               1.5714   20.8571          2            60.9850             0.7004             1.4008            67.3201  98.9455
4      d6ea1074-f1f5-11e9-9346-000d3a38a36f              83.1429   95.4286          2           104.9900             0.3960             0.7921           114.3251  95.0117
...                                     ...                  ...       ...        ...                ...                ...                ...                ...      ...
19940  727e2b6e-ddd4-11e9-a848-000d3a38a36f              41.1429   88.4286          3           133.9867             0.4858             0.9716           141.3604 144.1017
19941  25cd53d4-61bf-11ea-8dd8-000d3a38a36f              42.2857   65.2857          2           195.2350             0.4804             0.9609           210.7224 212.4408
19942  8aea4c2a-d6fc-11e9-93bc-000d3a38a36f              88.7143   89.8571          3           210.9800             0.4816             0.9632           221.7752 224.1308
19943  e50bb46c-ff30-11e9-a5e8-000d3a38a36f              98.4286  113.8571          6           168.2950             0.6102             1.2204           172.6475 221.0789
19944  740998d2-b1f7-11e9-89fa-000d3a38a36f              39.5714   91.0000          2           130.9850             0.4065             0.8131           142.0923 121.2163

[19945 rows x 9 columns]

In [19]:
# Top 20 CLTV
cltv_df.sort_values("cltv", ascending=False).head(20)

                                customer_id  recency_cltv_weekly  T_weekly  frequency  monetary_cltv_avg  exp_sales_3_month  exp_sales_6_month  exp_average_value      cltv
9055   47a642fe-975b-11eb-8c2a-000d3a38a36f               2.8571    7.8571          4          1401.8000             1.0944             2.1888          1449.0605 3327.7770
13880  7137a5c0-7aad-11ea-8f20-000d3a38a36f               6.1429   13.1429         11           758.0855             1.9701             3.9402           767.3606 3172.3944
17323  f59053e2-a503-11e9-a2fc-000d3a38a36f              51.7143  101.0000          7          1106.4671             0.7222             1.4445          1127.6115 1708.9821
12438  625f40a2-5bd2-11ea-98b0-000d3a38a36f              74.2857   74.5714         16           501.8737             1.5653             3.1306           506.1667 1662.6135
7330   a4d534a2-5b1b-11eb-8dbd-000d3a38a36f              62.7143   67.2857         52           166.2246             4.6561             9.3123           166.7123 1628.8874
8868   9ce6e520-89b0-11ea-a6e7-000d3a38a36f               3.4286   34.4286          8           601.2262             1.2655             2.5309           611.4926 1623.8127
6402   851de3b4-8f0c-11eb-8cb8-000d3a38a36f               8.2857    9.4286          2           862.6900             0.7939             1.5878           923.6800 1538.8559
6666   53fe00d4-7b7a-11eb-960b-000d3a38a36f               9.7143   13.0000         17           259.8653             2.7807             5.5614           262.0729 1529.2280
19538  55d54d9e-8ac7-11ea-8ec0-000d3a38a36f              52.5714   58.7143         31           228.5300             3.0838             6.1676           229.6069 1485.8192
14858  031b2954-6d28-11eb-99c4-000d3a38a36f              14.8571   15.5714          3           743.5867             0.8716             1.7431           778.0504 1422.9997
17963  8fd88976-6708-11ea-9d38-000d3a38a36f              50.2857   63.2857          7           694.1986             0.9176             1.8351           707.6856 1362.6072
15516  9083981a-f59e-11e9-841e-000d3a38a36f              63.5714   83.8571          4          1090.3600             0.5746             1.1493          1127.3545 1359.4397
6717   40b4f318-9dfb-11eb-9c47-000d3a38a36f              27.1429   33.8571          7           544.7000             1.1630             2.3259           555.4103 1355.4352
4157   7eed6468-4540-11ea-acaf-000d3a38a36f              89.1429   90.0000         27           289.7641             2.2143             4.4287           291.2922 1353.5337
4735   dbabb58e-6312-11ea-a6dc-000d3a38a36f              61.2857   64.2857         13           442.1154             1.4236             2.8473           446.8162 1334.8251
11694  90f1b7f2-bbad-11ea-a0c9-000d3a38a36f              47.2857   48.0000          6           647.3450             0.9339             1.8677           662.1103 1297.5186
11179  d2e74a36-3228-11eb-860c-000d3a38a36f               1.1429   26.2857          3           750.5700             0.7804             1.5608           785.3440 1286.1378
1853   f02473b0-43c3-11eb-806e-000d3a38a36f              17.2857   23.1429          2           835.8750             0.6843             1.3686           895.0369 1285.2277
5775   e31293ac-d63a-11e9-93bc-000d3a38a36f              91.7143   93.1429          8           727.0862             0.8266             1.6533           739.3933 1282.5758
7312   90befc98-925a-11eb-b584-000d3a38a36f               4.1429    8.8571          6           431.3283             1.3638             2.7275           441.3982 1263.1912

# 6. Creating Segments by CLTV

In [20]:
# for 6 months cltv values
cltv_df["cltv_segment"] = pd.qcut(cltv_df["cltv"], 4, labels=["D", "C", "B", "A"])
cltv_df.groupby("cltv_segment").agg({"cltv": ["count", "mean", "std", "median"]})

              cltv
             count     mean      std   median
cltv_segment
D             4987  80.3405  21.7257  83.7239
C             4986 138.3115  15.3154 138.0288
B             4986 199.5328  21.2056 198.1042
A             4986 362.3155 158.4218 312.9281

In [21]:
cltv_df

                                customer_id  recency_cltv_weekly  T_weekly  frequency  monetary_cltv_avg  exp_sales_3_month  exp_sales_6_month  exp_average_value     cltv cltv_segment
0      cc294636-19f0-11eb-8d74-000d3a38a36f              17.0000   30.5714          5           187.8740             0.9739             1.9479           193.6327 395.7332            A
1      f431bd5a-ab7b-11e9-a2fc-000d3a38a36f             209.8571  224.8571         21            95.8833             0.9832             1.9663            96.6650 199.4307            B
2      69b69676-1a40-11ea-941b-000d3a38a36f              52.2857   78.8571          5           117.0640             0.6706             1.3412           120.9676 170.2242            B
3      1854e56c-491f-11eb-806e-000d3a38a36f               1.5714   20.8571          2            60.9850             0.7004             1.4008            67.3201  98.9455            D
4      d6ea1074-f1f5-11e9-9346-000d3a38a36f              83.1429   95.4286          2           104.9900             0.3960             0.7921           114.3251  95.0117            D
...                                     ...                  ...       ...        ...                ...                ...                ...                ...      ...          ...
19940  727e2b6e-ddd4-11e9-a848-000d3a38a36f              41.1429   88.4286          3           133.9867             0.4858             0.9716           141.3604 144.1017            C
19941  25cd53d4-61bf-11ea-8dd8-000d3a38a36f              42.2857   65.2857          2           195.2350             0.4804             0.9609           210.7224 212.4408            B
19942  8aea4c2a-d6fc-11e9-93bc-000d3a38a36f              88.7143   89.8571          3           210.9800             0.4816             0.9632           221.7752 224.1308            B
19943  e50bb46c-ff30-11e9-a5e8-000d3a38a36f              98.4286  113.8571          6           168.2950             0.6102             1.2204           172.6475 221.0789            B
19944  740998d2-b1f7-11e9-89fa-000d3a38a36f              39.5714   91.0000          2           130.9850             0.4065             0.8131           142.0923 121.2163            C

[19945 rows x 10 columns]